*,
body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

body {
  width: 100%;
}

.App {
  width: 100%;
  height: 100vh;
}

button {
  font-size: 20px;
  padding: 25px 0;
  font-weight: 600;
}

.calcMainContainer {
  width: 600px;
  margin-top: 180px;
  height: auto;
  padding: 50px 0 0 450px;
}

.calcText {
  margin-left: -350px;
}

.calcDisplay {
  background-color: #858693;
  color: #fff;
  font-size: 30px;
  font-weight: 500;
  text-align: end;
  padding: 25px 10px;
}

.calcKeysContainer {
  display: grid;
  grid-template-columns: 3fr 1fr;
}

.calcNumbers {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  text-align: center;
}

.calcNumbers.footer {
  display: grid;
  grid-template-columns: 2fr 1fr;
}

.calcNumbers button,
.calcSymbols button {
  border-right: 1px solid #e5e5e5;
  border-bottom: 1px solid #e5e5e5;
}

.calcSymbols {
  text-align: center;
  display: grid;
}

.calcSymbolsColor {
  background-color: #f5913e;
}

.quoteHeader,
.homePage {
  margin-top: 100px;
}

.homeText {
  padding: 40px 20px 0 20px;
}

.navClass {
  display: grid;
  grid-template-columns: 80% 0.2fr 0.3fr 0.4fr;
  padding: 10px 0 0 10px;
}

.try {
  border-right: 1.5px solid black;
  padding-left: 5px;
}

.borderRemove {
  border: none;
}
